.c1{
    float:left;
    height:150px;
    width:100px;
}
.c2{
    float:right;
    width:1000px;
    height:150px;
}
.c3{
    width:1000px;
    height:120px;
}
.im1{
    height:80px;
    width:80px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}